<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contact</title>
   <style>
       body {
           background-color: #312F2C;
           color: #d4c9b4; /* Use the font color from the home page */
           text-align: center;
           padding: 50px;
           font-family: 'Helvetica', sans-serif;
       }

       h1, p {
           text-transform: uppercase;
           font-weight: bold;
           margin: 15px 0;
       }

       a {
           color: #b07d5e; /* Light brown link color */
       }
   </style>
</head>
<body>
   <h1>Contact</h1>
   <p>Phone Number: 0916324145X</p>
   <p>Address: 2398 Antipolo St. Guadalupe Nuevo, Makati</p>
   <p>Facebook: <a href="https://www.facebook.com/mglcrndng/" target="_blank">https://www.facebook.com/mglcrndng/</a></p>
   <p>LinkedIn: <a href="https://www.linkedin.com/mglcrndng/" target="_blank">https://www.linkedin.com/mglcrndng/</a></p>
   <p>YouTube: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Miguel Carandang</a></p>
   <p>Discord: migox1aim</p>
</body>
</html>